// signin.module.scss
.title {
    font-size: 165px;
    margin-bottom: 8px;
    font-weight: 700; // Bold font weight

}

.formcontrol {
    height:45px;
    width: 300px;
    border: 1px solid black;
    border-radius:5px;
    padding-left: 50px;

}
