.container{
    display:flex ;
    margin:0 auto;
    width:80%;
    max-width: 800px;
    border:1px solid grey;
    border-radius: 20px;
    height:auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items:center;
    padding:20px;
    flex-direction: column;
    background-color: aliceblue;
}

.approvedProperties {
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: flex-start; /* Align items to the top */
    background-color: white;

    @media screen and (max-width: 554px) {
        justify-content: space-between;
    }
}




.line{
    width:12px;
    // height:100%;
    // background-color: grey;
    // margin: 0 10px
}

.data{
    margin-bottom: 10px;
}

.row{
    display:flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 652px) {
        flex-wrap: wrap;
        justify-content: center;
    }
   
}

.row > * {
    padding:0 10px;
}

.center{
    display:flex;
    flex-direction: column;
    align-items: center;
   
}

.modal {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    flex-direction: column;
    margin: auto;
    background-color: white;
    position: absolute; 
    top: 50%; /* Position it in the middle */
    left: 50%; /* Position it in the middle */
    transform: translate(-50%, -50%); /* Offset by half the modal's width and height */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 16px;
}

.margin {
    margin-bottom:10px
}